html,
body {
	height: auto;
}
h1,
h2,
h3 {
	font-weight: 500;
	font-family: 'Asap', sans-serif;
}
body {
	margin: 0;
	font-family: 'Asap', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
li,
h4 {
	font-family: 'Asap', sans-serif;
}
